.header {
    display: flex;
    background-color: $secondary;
    margin-bottom: 30px;
    background-color: $primary;
    padding: 20px 50px 25px;

    @media (max-width: $mobile) {
        padding: 0 0 0 10px;
        margin-bottom: 15px;
    }
}

.title {
    padding-top: 22px;
    padding-left: 25px;
    display: inline-block;
    height: 50px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
 
    @media (max-width: $mobile) {
        padding-left: 10px;
        padding-top: 30px;
        font-size: 16px;
    }   
}