@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);
* {
  box-sizing: border-box; }

body {
  font-family: 'Cambay', 'Helvetica', 'Arial', sans-serif;
  padding: 20px; }

li {
  color: cornflowerblue;
  font-size: 20px; }

pre {
  background-color: #fcfcfc;
  border: 1px solid #a0a0a0;
  text-align: center;
  width: 30px;
  padding: 5px;
  color: salmon; }

.domain-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.domain {
  min-width: 135px;
  margin: 15px;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 15px;
  background-color: dodgerblue; }

.domain-date {
  font-weight: 300;
  color: greenyellow; }
