@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);

$primary: #007eff;
$secondary: #FFA040;

@import './components/filter/_filter';
@import './components/header/_header';
@import './components/container/_container';
@import './components/domain/_domain';

* {
    box-sizing: border-box;
}


body {
    font-family: 'Cambay', 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

li {
    color: $primary;
    font-size: 20px;
}

pre {
    background-color: #fcfcfc;
    border: 1px solid #a0a0a0;
    text-align: center;
    width: 30px;
    padding: 5px;
    color: $secondary;
}
