li {
    color: cornflowerblue;
    font-size: 20px;
}

pre {
    background-color: #fcfcfc;
    border: 1px solid #a0a0a0;
    text-align: center;
    width: 30px;
    padding: 5px;
    color: salmon;
}