@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,600);

$primary: #007eff;
$secondary: #FFA040;
$font: 'Poppins';
$mobile: 500px;

@import './components/filter/_filter';
@import './components/header/_header';
@import './components/container/_container';
@import './components/domain/_domain';
@import './components/logo/_logo';

* {
    box-sizing: border-box;
}

body {
    font-family: $font, 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

li {
    color: $primary;
    font-size: 20px;
}

pre {
    background-color: #fcfcfc;
    border: 1px solid #a0a0a0;
    text-align: center;
    width: 30px;
    padding: 5px;
    color: $secondary;
}

