$padding: 0 35px;

.domain-filter-container {
    padding: $padding;    
    
    @media (max-width: $mobile) {
        padding: 0 10px;
    }
}

.domain-section-title {
    font-size: 16px;
    padding-left: 30px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border-bottom: 1px solid $primary;
    display: inline-block;
    font-weight: 400;
}

.domain-container {
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
    @media (max-width: $mobile) {
        padding: 0 10px;
    }
}
