$padding: 0 35px;

.domain-filter-container {
    padding: $padding;    
    
    @media (max-width: $mobile) {
        padding: 0 10px;
    }
}

.domain-container {
    padding: $padding;
    display: block;
    
    @media (max-width: $mobile) {
        padding: 0 10px;
    }
}

.domain-container-recent, .domain-container-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.domain-subheading:first-of-type {
    color: darken($secondary, 10%);
}

.domain-subheading:last-of-type {
    color: $primary;
}

.domain-subheading {
    font-size: 22px;
    padding-left: 15px;
    font-weight: normal;
    margin-bottom: 0;
    
    @media (max-width: $mobile) {
        padding-left: 5px;
    }
}
