.domain {
    min-width: 135px;
    margin: 15px;
    color: #fff;
    flex: 1;
    text-align: center;
    padding: 15px;
    background-color: $primary;
}

.domain-date {
    font-weight: 300;
    color: #fff;
}