.domain {
    min-width: 135px;
    margin: 15px;
    color: #333;
    flex: 1;
    text-align: center;
    padding: 15px;
    border: 1px solid #cecece;
    position: relative;
    
    @media (max-width: $mobile) {
        padding: 10px;
        font-size: 12px;
        margin: 5px;
    }
}

.domain-date {
    font-weight: 300;
    font-size: 11px;
}

.domain.available {
    background-color: rgba(39, 174, 96, 0.2);
    border: 1px solid rgb(39, 174, 96);
}

.domain.unavailable {
    background-color: rgba(192, 57, 43, 0.2);
    border: 1px solid rgb(192, 57, 43);
}

.availability {
    position: absolute;
    top: -15px;
    font-size: 10px;
    left: 0;
}

.availability.available {
    color: rgb(39, 174, 96);
}

.availability.unavailable {
    color: rgb(192, 57, 43);
}