.domain {
    min-width: 135px;
    margin: 15px;
    color: #333;
    flex: 1;
    text-align: center;
    padding: 15px;
    
    @media (max-width: $mobile) {
        padding: 10px;
        font-size: 12px;
        margin: 5px;
    }
}

.domain-date {
    font-weight: 300;
}

.domain-container-premium .domain {
    border: 1px solid $primary;
    //background-color: lighten($primary, 34%);
}

.domain-container-recent .domain {
    border: 1px solid $primary;
    background-color: lighten($secondary, 44%);
}

.domain-container-novelty .domain {
    border: 1px solid $secondary;
    background-color: lighten($secondary, 47%);
}

.domain-container-all .domain {
    border: 1px solid $secondary;
    background-color: lighten($secondary, 47%);
}

